<h1>商品一覧</h1>
    <% @items.each do |item|%>
        <div><%= attachment_image_tag item, :image, :fill, 100, 100 %></div>
        <div><%= item.name %></div>
        <div><%= item.prise %></div>
    <% end %>