<h1>商品一覧</h1>
    <% @items.each do |item|%>
        <div>
            <%= link_to public_item_path(item) do %>
              <%= attachment_image_tag item, :image, :fill, 100, 100 %>
            <% end %>
        </div>
        <div><%= item.name %></div>
        <div><%= item.prise %></div>
    <% end %>